<h2>Users Index</h2>
<table class="t1">
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Destroy", user_path(user), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New user", new_user_path %>
